<div  class="container-fluid  mt-5" >
            <div class="container ">
                <div class="row  ">
                    <div class="col-sm-12 " >
                        <h3 class="display-4 text-center " style="color: #e45826;">Mascotas más vendidas</h3>
                    </div>
                </div>
            <div class="row mt-5 ">

                <div class="col-sm-4 ">
                    <div class="card m-auto"  style="width: 270px;">
                        <img [src]="url4" class="card-img-top mx-auto" alt="..." >
                        <div class="card-body">
                            <h5 class="card-title">Caballo</h5>
                            <p class="card-text ">Morgan</p>
                            <p class="card-text text-center " ><b style="color: #e45826;">$6440.00</b></p>
                            <a href="#" class="btn text-white mx-auto d-block" style="background-color: #4a3933"><i class="far fa-eye"></i> Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card m-auto" style="width: 270px; ">
                       <img [src]="url5" class="card-img-top mx-auto" alt="..." >
                        <div class="card-body">
                            <h5 class="card-title">Gato</h5>
                            <p class="card-text">Raza-Persa</p>
                            <p class="card-text text-center " ><b style="color: #e45826;">$900.00</b></p>
                            <a href="#" class="btn text-white mx-auto d-block" style="background-color: #4a3933"><i class="far fa-eye"></i> Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card m-auto" style="width: 270px; ">
                        <img [src]="url6" class="card-img-top mx-auto" alt="..." >
                        <div class="card-body">
                            <h5 class="card-title">Iguana</h5>
                            <p class="card-text">Reptil verde</p>
                            <p class="card-text text-center " ><b style="color: #e45826;">$33056.51</b></p>
                            <a href="#" class="btn text-white mx-auto d-block " style="background-color: #4a3933"><i class="far fa-eye"></i> Ver detalles</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        