<div id="servicios" class="container-fluid mt-5 mb-5" >

     <div class="container">
        <div class="row" >
             <div class="col-sm-12" >
                        <h3 class="display-4 text-center " style="color: #e45826;">Servicios</h3>
             </div>
         </div>
                <div class="row mt-5 mb-5">
                    
                    <div class="col-sm-4">
                   <img [src]="url1" class="img-fluid  mx-auto d-block mb-2" style="width: 128px; height: 128px;" />
                   <h4 class="text-center" style="color: #4a3933;">Aseo</h4>
                    </div>
                     <div class="col-sm-4">
                   <img [src]="url2"  class="img-fluid mx-auto d-block mb-2" style="width: 128px; height: 128px;" />
                   <h4 class="text-center" style="color: #4a3933;">Adopciones</h4>
                    </div>
                     <div class="col-sm-4">
                   <img [src]="url3"  class="img-fluid mx-auto d-block mb-2" style="width: 128px; height: 128px;" />
                   <h4 class="text-center" style="color: #4a3933;">Hospital de mascotas</h4>
                    </div>
                    
                </div>
                
            </div>
 </div>