<div class="container-fluid mt-5">
	<div class="container mt-5">
		<div class="row mt-5" >
             <div class="col-sm-12 mt-5" >
                        <h3 class="display-4 text-center " style="color: #e45826;">Nosotros</h3>
             </div>
         </div>
		<div class = "row mt-5">
			<div class="col-sm-6 ">
				<div class="card text-dark bg-light mb-3" style="max-width: 700px;">
				  <div class="card-header"></div>
				  <div class="card-body">
				    <h5 class="card-title">Misión</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor tortor nisl, et fermentum massa dignissim posuere. Curabitur malesuada sapien in magna fringilla euismod.</p>
				  </div>
				</div>
				
				
			</div>
			<div class="col-sm-6  align-self-center">
					<img [src]="url11" class="img-fluid mx-auto d-block" style="width: 128px;">
			</div>
			
		</div>

		<div class = "row mt-5 mb-5">
			<div class="col-sm-6  align-self-center">
					<img [src]="url12" class="img-fluid mx-auto d-block" style="width: 128px;">
			</div>
			<div class="col-sm-6">
				<div class="card text-dark bg-light mb-3" style="max-width: 700px;">
				  <div class="card-header"></div>
				  <div class="card-body">
				    <h5 class="card-title">Visión</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor tortor nisl, et fermentum massa dignissim posuere. Curabitur malesuada sapien in magna fringilla euismod.</p>
				  </div>
				</div>
				
			</div>
		
		</div>
		<div class = "row mt-5 mb-5">
			
			<div class="col-sm-12 align-self-center">
					<img [src]="url13" class="img-fluid mx-auto d-block" >
			</div>
			
		</div>
	
	</div>
	
</div>
