
<div class="container-fluid  fixed-top " style="background-color: #f0a500;">
<nav class="navbar navbar-expand-md text-white container" style="background-color: #f0a500;">
   
   <a class="navbar-brand text-white" href="#"><i class="fas fa-paw"></i>  <b>  Paw Print</b></a>
   
    <button class="navbar-toggler  text-white" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span ><i class="fas fa-bars"></i></span></button>
  
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
  <ul class="navbar-nav ">
      <li class="nav-item" routerLinkActive="active red"><a class="nav-link text-white " [routerLink]="['inicio']" >Inicio</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link text-white" [routerLink]="['nosotros']">Nosotros</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="#">Productos</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="#">Contáctanos</a></li>
      
  </ul>
  </div>
</nav>
</div>